// Colors
$white: #ffffff;
$light-gray: #7f7f7f;
$gray: #565656;
$dark-gray: #333333;
$black: #000000;
$text: #1e293b;

// Fonts
// $font-base: 'Inter', sans-serif;

// Sizes
$radius-base: 0.5rem;
$radius-lg: 1rem;
